body, html{
  height: 100%; /* <------------ */
}

form { width: 100%; }
#trollbox {
  font-family: _tomo, monospace;
  top: 600px;
}
#trollbox_scroll {
  background-color: #333;
  color: #f8f8f2;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 3px;
  padding: 5px 0;
  overflow: hidden;
  overflow-y: scroll;
}
#trollbox_infos {
  background-color: #333;
  color: #f8f8f2;
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 3px;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
}
#trollbox_input {
  width: 100%;
}
.trollbox_line > span {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.trollbox_line span {
  display: inline-block;
  vertical-align: top;
}
.trollbox_line {
  vertical-align: top;
}
.trollbox_line_bot {
  padding: 0 5px;
  font-family: px_sans_nouveaux;
  color: #ddd;
  font-style: italic;
}
.ui_group>.trollbox_h {
  padding: 0 5px;
  color: #555;
}
.ui_group>.trollbox_msg {
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  border-left: 1px solid #333;
  word-break: break-word;
  white-space: pre-wrap;
}
.trollbox_nick,
.ui_group>.trollbox_nick {
  white-space: nowrap;
  font-family: _tomo, monospace;
  font-style: normal;
  text-align: right;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  /*padding: 0;*/
  /*line-height: 1;*/
}
.ui_group>.trollbox_nick {
  padding: 0 5px;
  width: 90px;
}
.trollbox_msg .trollbox_nick {
  padding: 0;
}
.trollbox_msg > em {
  opacity: 0.7;
}
.trollbox_exe {
  color: #c3ff00;
  background-color: #000;
  border-bottom: 1px solid #333;
}
.trollbox_exe button {
  opacity: 0.5;
  margin-right: 10px;
}
a {
  color: blue;
  text-decoration: unset;
}
/*
#trollbox_nick_btn {
  display: none;
}
*/
.magnetBox {
    color: #000;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: inset 1px 1px #dfdfdf, 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: silver;
    padding: 5px 5px;
    margin-bottom: 20px;
}

.magnetBox img {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  cursor: pointer;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
  margin-right: 1px;
  margin-bottom: 1px;
  background: white;
}

.magnetBox  div.magnetBoxFile  iframe {
    background: #fff;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 100%;
}

#magnetContainer{
    height: 600px;
    overflow: scroll;
    background: gray;
    overflow-x: hidden;
}

.unpeng, .magnetDownload{
  display: none;
}

#imgPreview{
    z-index: 3000;
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    cursor: pointer;
    display: none;
}

#imgPreview img{
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*border: 5px solid #fff;*/
  cursor: pointer;
}



.magnetBox audio {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
  background: white;
  font-family: px_sans_nouveaux,Arial,Helvetica,sans-serif;
  font-size: 8px;
  color:black;
   height: 34px;
}

audio::-webkit-media-controls-panel {
  background-color: white;
   height: 34px;
}

.magnetBox video {

  max-width: 50%;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 1px 0 #fff, 0 1px #fff, 1px 1px #fff;
  /* width: 100%; */
  background: black;
}
video::-webkit-media-controls-enclosure {

}
video::-webkit-media-controls-panel {
  background-color: white;

}
video::-webkit-media-controls-timeline {
  
}
video::-webkit-media-controls-volume-slider, video::-webkit-media-controls-timeline {
  
}
video::-webkit-media-controls-volume-slider::-webkit-media-slider-container, video::-webkit-media-controls-timeline::-webkit-media-slider-container {

}
::-webkit-media-slider-thumb {

}
video::-webkit-media-controls-play-button {
  cursor: pointer;
}
video::-webkit-media-controls-play-button:hover {

}
video::-webkit-media-controls-fullscreen-button {

}
video::-webkit-media-controls-mute-button {

}
video::-webkit-media-controls-fullscreen-button:hover {

}
video::-webkit-media-controls-mute-button:hover {

}
video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
    font-family: px_sans_nouveaux,Arial,Helvetica,sans-serif;
    font-size: 8px;
    color:black;
}
#upload{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 50px;
    z-index: 1000;
    cursor: pointer;
    opacity: 0;
}
#list{display: none;}

.magnetBox input{
  width: 100%;
}