

.ui_hilit {
	display: block;
	padding: 0.2em 0.5em 0.5em;
	margin: 0.3em 0 1em;
}
.ui_hilit a {color: inherit}


.ui_hilit {background-color: rgb(16, 20, 33); color: #fff;}
.sh_42 { color: #0ff; }
.sh_propfunction, .sh_propfunction > span { color: #dd7758; }
.sh_function, .sh_function > span { color: #f0562c; }
.sh_string { color: #ffd852; }
.sh_operator { color: #a4ed2d; }
.sh_keyword { color: #a4ed2d; }
.sh_keyword2, .sh_keyword2 span:not(.ui_log__unherit)  { color: #19FF8D; }
.sh_number { color: #dd6988; }
.sh_punctuation { color: #fff; }
.sh_comment, .sh_comment span:not(.ui_log__unherit) { color: #815db3; }




.ui_log__hidden {visibility: hidden;}
.ui_log__halfhide {opacity: 0.2;}
.ui_log__unselectable {user-select: none;}


// colors
.ui_terminal {
  .ui_log__white, .ui_log__white *:not(.ui_log__unherit) {color:#fff;}
  .ui_log__white--light, .ui_log__white--light *:not(.ui_log__unherit) {color:#fff;}

  .ui_log__yellow, .ui_log__yellow *:not(.ui_log__unherit) {color:#AA5500;}
  .ui_log__yellow--light, .ui_log__yellow--light *:not(.ui_log__unherit) {color:#FFFF55;}

  .ui_log__cyan, .ui_log__cyan *:not(.ui_log__unherit) {color:#0ff;}
  .ui_log__cyan--light, .ui_log__cyan--light *:not(.ui_log__unherit) {color:#55FFFF;}

  .ui_log__magenta, .ui_log__magenta *:not(.ui_log__unherit) {color:#f0f;}
  .ui_log__magenta--light, .ui_log__magenta--light *:not(.ui_log__unherit) {color:#FF55FF;}

  .ui_log__red, .ui_log__red *:not(.ui_log__unherit) {color:#e06;}
  .ui_log__red--light, .ui_log__red--light *:not(.ui_log__unherit) {color:#A31838;}

  .ui_log__green, .ui_log__green *:not(.ui_log__unherit) {color:#4E9A06;}
  .ui_log__green--light, .ui_log__green--light *:not(.ui_log__unherit) {color:#006950;}

  .ui_log__blue, .ui_log__blue *:not(.ui_log__unherit) {color:#06989A;}
  .ui_log__blue--light, .ui_log__blue--light *:not(.ui_log__unherit) {color:#06989A;}
}





// .ui_hilit {background-color: #02131F; color: #fff;}
// .sh_42 { color: #43EAFF; }
// .sh_propfunction { color: #ED896B; }
// .sh_function { color: #FF513B; /*#2f6fad;*/ }
// .sh_string { color: #F1C34A; /*#5890ad;*/ }
// .sh_operator { color: #D1FF60;/*#8a6343;*/ }
// .sh_keyword { color: #c3ff00;/*#8a6343;*/ }
// .sh_keyword2, .sh_keyword2 span:not(.ui_log__unherit)  { color: #0DE262; /*#00EBFF;*/ }
// .sh_number { color: #DA5AA7; /*#2f6fad;*/ }
// .sh_punctuation { color: #B4C0FF; /*#66FFBC;*/ /*#279B55;*/ }
// //.sh_operator { color: #0096BB; /*#66FFBC;*/ /*#279B55;*/ }
// .sh_comment, .sh_comment span:not(.ui_log__unherit) { color: #8656C3; /*#3E5564;*/ /*#555 !important;*/ }


