﷽

/color gold;text-align: center;overflow: visible;transform: rotateZ(-3deg);background-size:cover; auto;width: 496px;height:346px;font-family: Impact;font-size:300%; text-shadow: 1px 1px orange;z-index:1; position:absolute;background-image:url('http://68.media.tumblr.com/d75f20756c8ab4441844c5af18c0960b/tumblr_mm5onukte81spqn0qo1_500.png'); max-width: 100%; animation-duration: 2s; animation-name: bounceIn; animation-timing-function: ease-in-out; animation-iteration-count: infinite; cursor: url("https://www.w3schools.com/cssref/smiley.gif"), auto;

bounce
bounceIn
bounceOut
shake
tada
swing
slidein
slideOut
rubberBand

/color white; text-align: center;background: radial-gradient(rgba(255,153,255,1),rgba(255,153,255,1), rgba(255,153,255,0), rgba(255,153,255,0));font-size: 200%;overflow: visible;font-family: Calibri; font-weight: bold;text-shadow: 0px 0px 2px black, 0px 0px 2px black; max-width: 100%; animation-duration: 30s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; animation-name: tada; font-size:300%;





bounce
flash
pulse
rubberBand
shake
swing
tada
wobble
jello
bounceIn
bounceInDown
bounceInLeft
bounceInRight
bounceInUp
bounceOut
bounceOutDown
bounceOutLeft
bounceOutRight
bounceOutUp
fadeIn
fadeInDown
fadeInDownBig
fadeInLeft
fadeInLeftBig
fadeInRight
fadeInRightBig
fadeInUp
fadeInUpBig
fadeOut
fadeOutDown
fadeOutDownBig
fadeOutLeft
fadeOutLeftBig
fadeOutRight
fadeOutRightBig
fadeOutUp
fadeOutUpBig
flip
flipInX
flipInY
flipOutX
flipOutY
lightSpeedIn
lightSpeedOut
rotateIn
rotateInDownLeft
rotateInDownRight
rotateInUpLeft
rotateInUpRight
rotateOut
rotateOutDownLeft
rotateOutDownRight
rotateOutUpLeft
rotateOutUpRight
slideInUp
slideInDown
slideInLeft
slideInRight
slideOutUp
slideOutDown
slideOutLeft
slideOutRight
zoomIn
zoomInDown
zoomInLeft
zoomInRight
zoomInUp
zoomOut
zoomOutDown
zoomOutLeft
zoomOutRight
zoomOutUp
hinge
jackInTheBox
rollIn
rollOut
